.results {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 300px;
    row-gap: 20px;
    column-gap: 20px;
    width: fit-content;
}

.card {
    max-height: 300px;
}

.card:hover {
    height: 500px;
    max-height: 500px;
    transition: max-height 0.2s;
    z-index: 100;
}

.dataText {
    font-size: 15px;
    text-align: end;
}