@value indigoDye, jungleGreen, paynesGray, powderBlue, tyrianPurple  from "./colors.module.css";

.display {
    align-items: center;
    display: grid;
    width: 1000px;
    height: 400px;
    grid-template-columns: 50px 900px 50px;
    grid-template-rows: 350px 50px;
}

.displayContent {
    width: 100%;
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
}

.displayMain {
    width: 550px;
}

.displaySecondary {
    width: 350px;
}

.displayTitle {
    display: flex;
    align-items: center;
    padding-left: 25px;
    height: 70px;
}

.displayOtherImgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.secImg {
    margin: 5px;
    border: 4px;
    border-color: tyrianPurple;
    border-style: solid;
}

.carousel {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    
    display: flex;
    justify-content: center;
}

.carouselButton {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.arrow {
    height: 100px;
    margin: 5px;
    background-color: tyrianPurple;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: paynesGray;
}

.rightIcon {
    transform: rotate(180deg);
}