.body {
  height: fit-content;
}

.topBar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: red;
  height: 60px;
}

.buttonDiv {
  margin-right: auto;
  width: 20%;
  padding-left: 20px;
}

.imageDiv {
  width: 20%;
  margin-left: auto;
}

.sideBarAndMain {
  display: flex;
}



.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}