.main {
  min-height: 100vh;
}

.topBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: red;
  height: 60px;
}

.buttonDiv {
  margin-right: auto;
  width: 20%;
  padding-left: 20px;
}

.imageDiv {
  width: 20%;
  margin-left: auto;
}