@value powderBlue, tyrianPurple from "./colors.module.css";

.sideBar {
    border-radius: 10px;
    height: fit-content;
    padding-top: 20px;
    width: 250px;
    background-color: powderBlue;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
  
.group {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
.element {
    width: 100%;
}

.title {
    padding-left: 0;
    width: 100%;
    justify-content: start;
    color: tyrianPurple;
}
  
.desplegable {
    display: none;
}